<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bellini.Data.dbSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <Bellini.Data.dbSetting>
      <setting name="MONGOLAB_URI" serializeAs="String">
        <value>mongodb://127.0.0.1/BookStore</value>
      </setting>
    </Bellini.Data.dbSetting>
  </userSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data   Provider for SQLite"
      type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="Db9ac536f7668248bf9f78a20300872169Connection" connectionString="server=9ac536f7-6682-48bf-9f78-a20300872169.mysql.sequelizer.com;user id=owcyyduyslgdluwk;password=ojWdHr8RCzfmHCMn8QDR8XTCainBAmKR7YLakCEq3vCEcKynWbiUsmzyxsdzdEqq;persist security info=True;database=db9ac536f7668248bf9f78a20300872169" providerName="MySql.Data.MySqlClient" />
    <add name="SupermarketSQLdbConnectionString" connectionString="Data Source=.;Initial Catalog=Supermarket;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TaxesSQLite"
        connectionString="Data Source=../../../Bellini.WebApp/App_Data/Taxes.db"
        providerName="System.Data.SQLite" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>